<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christ University - Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <img src="/static/images/logo.jpg" alt="College Name Logo" class="college-logo">
        <nav>
            <ul>
                <li><a href="/template/index.html">Home</a></li>
                <li><a href="/template/about.html">About Us</a></li>
                <li><a href="/template/courses.html">Programs/Courses</a></li>
                <li><a href="/template/admission.html">Admission</a></li>
                <li><a href="/template/faculty.html">Faculty</a></li>
                <li><a href="/template/student_life.html">Student Life</a></li>
                <li><a href="/template/contact.html">Contact Us</a></li>
                <li><a href="/template/events.html">Events/News</a></li>
            </ul>
        </nav>
    </header>

    <section class="college-info">
        <img src="/static/images/Campus.jpg" alt="Christ University Campus" class="campus-image">
        <p><h3>Christ University is a deemed private university located in Bangalore, India. Established in 1969, the university offers a wide range of undergraduate, postgraduate, and doctoral programs in various disciplines. With state-of-the-art facilities, a diverse student community, and a commitment to academic excellence, Christ University has emerged as one of the top educational institutions in India.
        </h3></p>
    </section>
    <section class="college-gallery">
        <h1>College Gallery</h1>
        <div class="gallery-container">
            <img src="/static/images/Gallery1.jpg" alt="College Gallery Image 1" class="gallery-image">
            <img src="/static/images/Gallery2.jpg" alt="College Gallery Image 2" class="gallery-image">
            <img src="/static/images/Gallery3.jpg" alt="College Gallery Image 3" class="gallery-image">
            <img src="/static/images/Gallery4.jpg" alt="College Gallery Image 3" class="gallery-image">
            <img src="/static/images/Gallery5.jpg" alt="College Gallery Image 3" class="gallery-image">
            <img src="/static/images/Gallery6.jpg" alt="College Gallery Image 3" class="gallery-image">
            <img src="/static/images/Gallery7.jpg" alt="College Gallery Image 3" class="gallery-image">
            <img src="/static/images/Gallery8.jpg" alt="College Gallery Image 3" class="gallery-image">
            <img src="/static/images/Gallery9.jpg" alt="College Gallery Image 3" class="gallery-image">
            <img src="/static/images/Gallery10.jpg" alt="College Gallery Image 3" class="gallery-image">
        </div>
    </section>

    <footer>
        &copy; 2023 College Name. All rights reserved.<br />
    </footer>
</body>
</html>
